.navLink{
    color: #fff;
    text-decoration:none;
    /* margin:0px 25px; */
    transition: all .3s ease-in-out;
    /* display: flex; */
    position: absolute;
    text-align: center;
}
.navLink:hover{
    color: #aaa;
}
.active{
    color: #aaa
}


.line-underword{
    width: 60px;
    background-color: rgb(255, 255, 255) !important;
    height: 1px;
    position: relative;
    top: 30px;
    transition: all .2s ease-in-out;
    opacity: 0;
}


.active .line-underword{
    top:20px;
    opacity: 1;
}
.nav-container{
    align-items: center;
    justify-content: center;
}
.nav-container:hover .line-underword{
    top:20px;
    opacity: 1;
}